@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.tittleFont{
    font-family: 'Roboto', sans-serif;
}
.subTextFont{
    font-family: 'Poppins', sans-serif;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
}