
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.tittleFont{
    font-family: 'Roboto', sans-serif;
}
.subTextFont{
    font-family: 'Poppins', sans-serif;
}

.coverBackgroundPositioning{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
    height: 40vh;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
.profileBackgroundPositioning{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
    height: 40vh;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
